#include <stdio.h>
#define arriba 72
#define abajo 80 
#define izquierda 75
#define derecha 77
typedef struct {
		char m[10][40];
        int x,i,j,y,j2,y2,j3,y3,j4,y4,j5,y5,j6,y6,j7,y7,j8,y8,j9,y9;
        int a,b,p,n4,n5,n6,n7,n8,n9;
}campoc;
campoc c;
void teclas ();
void campo ();
void serpiente ();
void arribaz ();
void abajoz ();
void derechaz ();
void izquierdaz ();
void manzana ();

int main() {
	c.p = 1;
	c.j = 5;
	c.y = 20; 
	c.j2 = c.j;
	c.j3 = c.j2;
	c.y2 = c.y - 1;
	c.y3 = c.y2 - 1;
	campo () ;
}
void campo () {
	system("cls");
	    for (c.x = 0; c.x < 10; c.x++) {
    	for (c.i = 0; c.i < 40; c.i++) {
    		c.m[c.x][c.i] = ' ';
    	}
    }
    manzana();
    serpiente();
    for (c.x = 0; c.x < 10; c.x++) {
    	for (c.i = 0; c.i < 40; c.i++) {
    		if (c.i == 0 || c.i == 39) {
    			c.m[c.x][c.i] = '|' ;
    			printf("%c",c.m[c.x][c.i]);
    		}
    		else {
    		if (c.x == 0 || c.x == 9) {
    			c.m[c.x][c.i] = '-';
    			printf("%c",c.m[c.x][c.i]);
    			
    		}
    		else {
    			
    			printf("%c",c.m[c.x][c.i]);
    		}
    	}
    	}
    	printf("\n");
    }
    teclas ();
}
void teclas () {
	int tecla,n;
    tecla = 0;
    if (tecla != 27) {
    for (n = 0; n < 2; n ++) {
 	tecla = getch();
 	switch (tecla) {
 	case arriba: 
	 arribaz ();
	 campo ();
	 break;
 	case abajo: 
	 abajoz();
	 break;
 	case izquierda: 
	 izquierdaz();
	 break;
 	case derecha:  
	 derechaz();
	 break;
    }
    campo();
 }
 	
 }
}
void serpiente () {	
     c.m[c.j][c.y] = 'x'; 
	 c.m[c.j2][c.y2] = 'o';
	 c.m[c.j3][c.y3] = 'o';
	 c.p = 0;	
	 if (c.n4 == 1) {
	 	c.m[c.j4][c.y4] = 'o';
	 	
	 }
	 if (c.n5 == 1) {
	 	c.m[c.j5][c.y5] = 'o';
	 }
	 if (c.n6 == 1) {
	 	c.m[c.j6][c.y6] = 'o';
	 }
	 if (c.n7 == 1) {
	 	c.m[c.j7][c.y7] = 'o';
	 }
	 if (c.n8 == 1) {
	 	c.m[c.j8][c.y8] = 'o';
	 }
	 if (c.n9 == 1) {
	 	c.m[c.j9][c.y9] = 'o';
	 }
     if ((c.a == c.j) && (c.b == c.y)) { 
     if (c.n4 != 1) {
     c.n4 = 1;
     c.j4 = c.a;
     c.y4 = c.b;
     c.p = 1;
	 }
	 else {
	 	if (c.n5 != 1) {
	 	c.n5 = 1;
	    c.j5 = c.a;
        c.y5 = c.b;
        c.p = 1;
       }
        else {
	 	if (c.n6 != 1) {
	 	c.n6 = 1;
	    c.j6 = c.a;
        c.y6 = c.b;
        c.p = 1;
	 }
	else {
	 	if (c.n7 != 1) {
	 	c.n7 = 1;
	    c.j7 = c.a;
        c.y7 = c.b;
        c.p = 1;
	 }
	else {
	 	if (c.n8 != 1) {
	 	c.n8 = 1;
	    c.j8 = c.a;
        c.y8 = c.b;
        c.p = 1;
	 }
	    else {
	 	if (c.n9 != 1) {
	 	c.n9 = 1;
	    c.j9 = c.a;
        c.y9 = c.b;
        c.p = 1;
	 }
	 }
	 }
	 }
	 }
	 }   
	 }
}
void arribaz () {
	c.j9 = c.j8;
	c.j8 = c.j7;
	c.j7 = c.j6;
	c.j6 = c.j5;
	c.j5 = c.j4;
	c.j4 = c.j3;
	c.j3 = c.j2;
	c.j2 = c.j;
	c.j = c.j - 1;
	c.y9 = c.y8 ;
	c.y8 = c.y7 ;
	c.y7 = c.y6 ;
	c.y6 = c.y5 ;
	c.y5 = c.y4 ;
	c.y4 = c.y3 ;
	c.y3 = c.y2 ;
	c.y2 = c.y;
}
void abajoz () {
	c.j9 = c.j8;
	c.j8 = c.j7;
	c.j7 = c.j6;
	c.j6 = c.j5;
	c.j5 = c.j4;
	c.j4 = c.j3;
	c.j3 = c.j2;
	c.j2 = c.j;
	c.j = c.j + 1;
	c.y9 = c.y8 ;
	c.y8 = c.y7 ;
	c.y7 = c.y6 ;
	c.y6 = c.y5 ;
	c.y5 = c.y4 ;
	c.y4 = c.y3 ;
	c.y3 = c.y2 ;
	c.y2 = c.y;
}
void derechaz () {
	c.j9 = c.j8;
	c.j8 = c.j7;
	c.j7 = c.j6;
	c.j6 = c.j5;
	c.j5 = c.j4;
	c.j4 = c.j3;
	c.j3 = c.j2;
	c.j2 = c.j;
	c.y9 = c.y8 ;
	c.y8 = c.y7 ;
	c.y7 = c.y6 ;
	c.y6 = c.y5 ;
	c.y5 = c.y4 ;
	c.y4 = c.y3 ;
	c.y3 = c.y2 ;
	c.y2 = c.y;
	c.y = c.y + 1;
}
void izquierdaz () {
	c.j9 = c.j8;
	c.j8 = c.j7;
	c.j7 = c.j6;
	c.j6 = c.j5;
	c.j5 = c.j4;
	c.j4 = c.j3;
	c.j3 = c.j2;
	c.j2 = c.j;
	c.y9 = c.y8 ;
	c.y8 = c.y7 ;
	c.y7 = c.y6 ;
	c.y6 = c.y5 ;
	c.y5 = c.y4 ;
	c.y4 = c.y3 ;
	c.y3 = c.y2 ;
	c.y2 = c.y;
	c.y = c.y - 1;
}
void manzana () {
	if (c.p == 1) {
	do {
	srand(time(NULL));
	c.a = rand()%8+1;
	c.b= rand()%38+1;
   }
   while (c.m[c.a][c.b] == 'x' || c.m[c.a][c.b] == 'o');
}
   if (c.m[c.a][c.b] != 'x'|| c.m[c.a][c.b] != 'o') {
   	c.m[c.a][c.b] = 'G';
   }
}
